# Logs
logs
*.log
npm-debug.log*

# Diretórios de dependências
node_modules
jspm_packages

# Arquivos de build
dist
build

# Arquivos de configuração
.env
config.js

# Arquivos temporários
*.tmp
tmp/

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# IDE/editor
.idea/
.vscode/
*.suo
*.user
*.iml

# Outros
.npm
./node_modules